{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Share a post{% endblock title %}

{% block content %}
<div class="container">
  <p>
  {% if sent %}
    <h2>E-mail successfully sent!</h2>
    <p>
      The article "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
      <p>
      <a class="btn btn-info" href="{{ post.get_absolute_url }}">Return to blog post</a>
      <a class="btn btn-info" href="{% url 'post_list' %}">Return to main blog list</a>
      </p>
    </p>
  {% else %}
    <h2>Share "{{ post.title }}" by email</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-success" type="submit" value="Send email">
    </form>
  {% endif %}
  </p>
</div>
{% endblock content %}
