{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <p>
  {% if user.is_authenticated %}
    <p class="text-muted">Hi {{ user.username }}!</p>
  {% else %}
    <p class="text-muted">You are not currently logged in.</p>
  {% endif %}
  <img class="pagepic" src="{% static 'images/charles_mingus.jpg' %}">
  <ul>
  {% for post in object_list %}
  <p>
    <div class="post">
      <div class="post-header">
          <a class="font-weight-bold" href="{{ post.get_absolute_url }}">{{ post.title }}</a> &middot;
          <span class="text-muted">by {{ post.author }} | {{ post.publish }}</span>
      </div>
      <div class="post-body">
        {{ post.body|truncatewords:30|linebreaks }}
      </div>
      <div class="post-footer">
      </div>
    </div>
  {% endfor %}
  </ul>
  </p>
  </p>
</div>
{% endblock content %}
