body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight; 400;
}

.post-entry h2 a:hover {
  color: red;
}

.pagepic {
  height: 150px;
  width: auto;
}

.profile_pic {
  height: 300px;
  width: auto;
}

/* comments */
.comment {
  padding: 5px;
}

.comment:nth-child(even) {
  background: #efefef;
}

.comment .info {
  font-weight: bold;
  font-size: 12px;
  color: #666;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

p.tags {
    color:#4b0082;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}
