{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <p>
  <img class="pagepic" src="{% static 'images/charles_mingus.jpg' %}">
  {% for post in object_list %}
  <p>
    <div class="post">
      <div class="post-header">
          <span class="font-weight-bold">{{ post.title }}</span> &middot;
          <span class="text-muted">by {{ post.author }} | {{ post.date }}</span>
      </div>
      <div class="post-body">
        {{ post.body }}
      </div>
      <div class="post-footer">
      </div>
    </div>
  {% endfor %}
  </p>
  </p>
</div>
{% endblock content %}
